@charset "utf-8";

body {
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

header {
    z-index: 10;
    height: 64px;
    position: absolute;
    top: 300px;
    background-color: #333;
    width: 100%;
    text-align: center;
    z-index: 2;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

ul {
	list-style: none;
	display: flex;
}

li {
	text-decoration: none;
	text-align: center;
	margin-right: 5px;
}

li a {
	text-decoration: none;
	text-align: center;
	color:rgb(255, 252, 250);
	font-weight: bold;
	padding: 20px;
}

.text-or {
    text-align: center;
    color: #b63d3d;
    font-size: 25px;
}

/* ----------- テーブル ----------- */
table {
    border-collapse: collapse;
    color: #333;
    background-color: #FFF;
    text-align: center;
    
    width: 400px;
    max-width: 100%;
}

th, td {
    color: #b68b3d;
    padding: 5px 15px;
    border: solid 1px #f1c1a5;
}

thead {
    color: #b87700;
    background-color: #fad5b6; 
}

tbody {
    color: #b87700;
    background-color: #faf7f7; 
}

/* ----------- リンク ----------- */
a:link {
    color: rgb(236, 122, 122);
    text-decoration: none;
}

a:visited {
    color: rgb(236, 122, 122);
    text-decoration: none;
}

a:hover {
    color: rgb(235, 70, 70)
    text-decoration: none;
}

a:active {
    color: rgb(235, 70, 70);
    text-decoration: none;
}

a:target {
    color: rgb(235, 70, 70);
    text-decoration: none;
}
